@font-face {
  font-family: 'Work Sans';
  src: url('https://fonts.googleapis.com/css?family=Work+Sans');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  overflow-y: hidden;
}

.root {
  display: flex;
}

.sidebar {
  flex: 0 0 auto;
  height: 100vh;
  padding: 15px;
  background: #ccc;
  overflow-y: auto;
}

.filter_list {
  padding: 0;
  list-style-type: none;
}

.filter_item {
  margin-left: 10px;
  margin-bottom: 10px;
}

.filter_item-label {
  cursor: pointer;
}

.filter_item-input {
  display: none;
}

.filter_item-text {
  position: relative;
  padding-left: 30px;
}

.filter_item-input + .filter_item-text::before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 20px;
  background-image: url("../img/checkbox-false.svg");
}

.filter_item-input:checked + .filter_item-text::before {
  background-image: url("../img/checkbox-true.svg");
}

.page-content {
  flex: 1 1 auto;
  height: 100vh;
  padding: 15px;
  overflow-y: auto;
}

.news-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.news-item_img {
  width: 100%;
}

.news-item_title {
  margin: 10px 0;
}

.news-item_info-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.news-item_info-item img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.news-item_link {
  position: relative;
  padding-right: 15px;
  color: #000;
  text-decoration: none;
}

.news-item_link::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 10px;
  height: 20px;
  background-image: url("../img/chevron.svg");
}

.news-item_link:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .news-item {
    flex-direction: row;
    margin-bottom: 15px;
  }

  .news-item_img-wrap {
    flex: 0 0 50%;
  }

  .news-item_content {
    flex: 0 0 50%;
    padding-left: 15px;
  }
}